<!-- @format -->
<div>
  <form (ngSubmit)="_onSubmit()" [formGroup]="form" [ngClass]="class">
    <div *ngFor="let field of fields" class="form-row">
      <app-form-field
        *ngIf="fieldType(field) === 'FormFieldSpec'"
        [field]="$any(field)"
        [form]="form"
      ></app-form-field>
      <app-form-field-array
        *ngIf="fieldType(field) === 'FormFieldArray'"
        [array]="$any(field)"
        [form]="form"
      ></app-form-field-array>
      <app-object-input
        *ngIf="fieldType(field) === 'ObjectFormField'"
        [field]="$any(field)"
        [formControl]="formControlOf(field)"
      ></app-object-input>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div>
    <pre>{{ form.value | json }}</pre>
  </div>
</div>
