<h1>Reusable forms sketch</h1>

<form [formGroup]="form">
  <mat-card>
    <mat-card-title>The Form</mat-card-title>
    <app-form-field
      [formControl]="type"
      label="Type"
      placeholder="Some text goes here..."
    ></app-form-field>
    <app-form-field
      label="Textarea"
      type="textarea"
      [formControl]="textarea"
    ></app-form-field>
    <app-form-field
      label="Quantity"
      type="number"
      [formControl]="quantity"
    ></app-form-field>
    <app-form-array
      label="Array"
      fieldType="text"
      [formArray]="array"
      [errorMessages]="errorMessages"
    ></app-form-array>
  </mat-card>
</form>
<div>
  <p>Form Value</p>
  <pre
    >{{ form.value | json }}
</pre
  >
</div>
<div>Valid? {{ form.valid }}</div>
  <p>Error messages</p>
  <pre
    >{{ errorMessages | json }}
</pre
  >
  <div>
    <p>Form Value</p>
    <pre
      >{{ form.value | json }}
</pre
    >
  </div>
  <div>
    <p>Form Errors</p>
    <pre
      >{{ form.errors | json }}
</pre
    >
  </div>
  <div>Valid? {{ form.valid }}</div>
</div>
