<h1>Reusable forms sketch</h1>

<form [formGroup]="form">
  <mat-card>
    <mat-card-title>The Form</mat-card-title>
    <app-form-field
      [formControl]="type"
      label="Type"
      placeholder="Some text goes here..."
      [errorMessages]="errorMessages"
    ></app-form-field>
    <app-form-field
      label="Textarea"
      type="textarea"
      [formControl]="textarea"
      [errorMessages]="errorMessages"
    ></app-form-field>
    <app-form-field
      label="Quantity"
      type="number"
      [formControl]="quantity"
      [errorMessages]="errorMessages"
    ></app-form-field>
    <app-form-array
      label="Array"
      fieldType="text"
      [formControl]="array"
    ></app-form-array>
  </mat-card>
</form>
<div>
  <p>Form Value</p>
  <pre
    >{{ form.value | json }}
</pre
  >
</div>
<div>Valid? {{ form.valid }}</div>
