<!-- @format -->

<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <ng-container *ngIf="type === 'textarea'">
    <textarea
      matInput
      [ngModel]="value"
      [readOnly]="readonly"
      [placeholder]="placeholder || ''"
      (ngModelChange)="doChange($event)"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      >{{ value }}</textarea
    >
  </ng-container>
  <ng-container *ngIf="type !== 'textarea'">
    <input
      matInput
      [type]="type || 'text'"
      [ngModel]="value"
      [placeholder]="placeholder || ''"
      [value]="value"
      [readOnly]="readonly"
      (ngModelChange)="doChange($event)"
    />
  </ng-container>
</mat-form-field>

<error-message-container
  *ngIf="hasErrors"
  [errors]="control?.errors"
  [errorMessages]="errorMessages"
></error-message-container>
