<!-- @format -->

<ng-container [formGroup]="formGroup">
  <div
    [formArrayName]="formArrayName"
    [ngClass]="'dynamic-add-remove'"
    *ngFor="let item of formArray.controls; let i = index"
  >
    <button
      mat-button
      color="accent"
      type="button"
      [ngClass]="'add-button'"
      (click)="addItem()"
      [matTooltip]="addTooltip || ''"
    >
      <mat-icon *ngIf="addIcon">{{ addIcon }}</mat-icon>
      {{ addLabel }}
    </button>
    <app-form-field
      [label]="label"
      [value]="item.value"
      [readonly]="readonly"
      [type]="fieldType"
      [errorMessages]="errorMessages"
      [formControl]="elementAt(i)"
    ></app-form-field>
    <button
      mat-button
      color="warn"
      type="button"
      [ngClass]="'remove-button'"
      (click)="removeItem(i)"
      [matTooltip]="removeTooltip || ''"
    >
      <mat-icon *ngIf="removeIcon">{{ removeIcon }}</mat-icon>
      {{ removeLabel }}
    </button>
  </div>
</ng-container>
<error-message-container
  [errorMessages]="errorMessages"
  [errors]="formArray.errors"
></error-message-container>
